{% extends 'base.html' %}

{% block title %}
Varukorg
{% endblock %}

{% block content %}
<h1>Din varukorg</h1>

{% if 'username' in session %}
    {% if cartItems %}
        <div class="cart-items">
            {% for item in cartItems %}
            <div class="cart-row" data-product-id="{{ item.id }}">
                <div class="cart-img">
                    <img src="{{ base_url }}{{ item.img }}" alt="{{ item.title }}" width="50">
                </div>
                <span>{{ item.title }}</span>
                <span>Storlek: {{ item.size }}</span>  
                <span class="cart-price">{{ item.price }} SEK</span>
                <form action="{{ url_for('remove_from_cart') }}" method="POST" style="display:inline;">
                    <input type="hidden" name="product_id" value="{{ item.product_id }}">
                    <input type="hidden" name="size" value="{{ item.size }}">
                    <button type="submit" class="cart-del">Ta bort</button>
                </form>
            </div>
            {% endfor %}
        </div>

        <h3 id="cart-total">Totalt: {{ total_price }} SEK</h3>
        
        <div class="checkout-container">
            <a href="{{ url_for('checkout') }}" class="checkout-button">Gå till kassan</a>
        </div>

    {% else %}
        <p>Din varukorg är tom.</p>
    {% endif %}
{% else %}
    <p>Du måste logga in för att visa din varukorg.</p>
{% endif %}
{% endblock %}
