{% extends 'base.html' %}

{% block title %}
Produkter
{% endblock %}

{% block content %}
<div class="product-container">    
    <div class="product-info">
        <div>
            <p style="font-size: x-large; font-weight: 700; margin: 0;">{{product['title']}}</p>
            <p style="margin-top: 0;">Pris: {{product['price']}} kr</p>
        </div>
        <form class="product-form" action="{{ url_for('add_to_cart') }}" method="POST">
            <div class="form-group">
                <label for="size">Storlek</label>
                <select id="size" name="size">
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select> 
            </div>
        
            <input type="hidden" name="product_id" value="{{ product['id'] }}">
        
            <div class="form-buttons">
                <button type="submit" class="btn-cart">Lägg i varukorgen</button>
                <a href="{{ url_for('checkout') }}" class="btn-buy-now">Köp nu</a>
            </div>
        </form>
        
    </div>
    <div class="product-img">
        <img src="{{ base_url }}{{ product.img }}">
    </div>
</div>

<div class="product-details">
    <h3>Produktbeskrivning</h3>
    <p class="prutt">{{ product.info }}</p>
    <h4>Material & Skötsel</h4>
    <ul>
        <li>100 % återvunnen polyester</li>
        <li>Andningsaktivt och svettavvisande material</li>
        <li>Maskintvätt 40°C – tvättas ut och in</li>
    </ul>

    <h4>Storleksguide</h4>
    <li>
      Normal passform. Välj din vanliga storlek. 
      <a href="#" id="openModal">Visa storlekstabell</a>
    </li>

    <div id="sizeModal" class="modal">
      <div class="modal-content img-modal">
        <span class="close-button">&times;</span>
        <img src="{{ url_for('static', filename='images/storlekstabell.png') }}" alt="Storlekstabell" class="size-img">
      </div>
    </div>

    <h4>Leverans & Returer</h4>
    <ul>
        <li>Snabb leverans (1–3 arbetsdagar)</li>
        <li>Fri frakt vid köp över 500 kr</li>
        <li>Öppet köp i 30 dagar</li>
    </ul>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    const modal = document.getElementById("sizeModal");
    const openModal = document.getElementById("openModal");
    const closeModal = document.querySelector(".close-button");

    openModal.onclick = function (e) {
        e.preventDefault();
        modal.style.display = "block";
    };

    closeModal.onclick = function () {
        modal.style.display = "none";
    };

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    };
});
</script>

{% endblock %}