{% extends 'base.html' %}

</head>
<body>
    <nav>
        <nav>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('login')}}">Members</a>
    </nav>

    {% block content %}
    <h1>Logga in</h1>
    <form class="register" action = "{{url_for('register')}}" method="POST">
        <label for="username">Användarnamn:</label>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Lösenord:</label>
        <input type="password" id="password" name="password" required><br>
        <button class="rosa" type="submit">Register</button>
    </form>
    {% endblock %}
</body>
</html>
